<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
</head>
<body>

    <h1>Welcome to ScholarBridge AI 🎓</h1>

    <h2>Student Dashboard</h2>

    <p>
        <strong>Total Applications:</strong>
        {{ applications|length }}
    </p>

    <br>

    <a href="{% url 'my_applications' %}">
        My Applications
    </a>

    <br><br>

    <a href="{% url 'scholarship_recommendations' %}">
        Recommended Scholarships 🎯
    </a>

    <br><br>

<a href="{% url 'student_profile' %}">
    My Profile 👤
</a>

</body>
</html>