<!DOCTYPE html>
<html>
<head>
    <title>Scholarships</title>
</head>

<body>

    <h1>Available Scholarships 🎓</h1>

    {% if scholarships %}

        {% for scholarship in scholarships %}

            <div>

                <h2>{{ scholarship.title }}</h2>

                <p>
                    {{ scholarship.description }}
                </p>

                <p>
                    <strong>Amount:</strong>
                    ₹{{ scholarship.amount }}
                </p>

                <p>
                    <strong>Application Start:</strong>
                    {{ scholarship.application_start }}
                </p>

                <p>
                    <strong>Application Deadline:</strong>
                    {{ scholarship.deadline }}
                </p>

                <p>
                    <strong>Status:</strong>
                    {{ scholarship.status }}
                </p>

                <a href="{% url 'scholarship_detail' scholarship.id %}">
                    View Details
                </a>
                
                <br><br>

                <a href="{% url 'apply_scholarship' scholarship.id %}">
                    Apply Now
                </a>

            </div>

            <hr>

        {% endfor %}

    {% else %}

        <p>No approved scholarships available.</p>

    {% endif %}

</body>
</html>

<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="Search scholarship..."
        value="{{ search }}"
    >

    <button type="submit">
        Search
    </button>

</form>

<br>